{% extends 'Base.html' %}

{% block content %}
<div class="container">
    <section id="minititle">
        <h1>I walked a mile with pleasure, she chatted all the way
            but left me none the wise for all she had to say.
            <br>I walked a mile with sorrow, ne'er a word said she; but oh!
            The things I learned from her, when sorrow walked with me.
        </h1>
        <h2>- Robert Browning Hamilton</h2>
    </section>
</div>

<section class ="box-1">
    <div class= "container">

        <h1>Welcome</h1>
        <p class="block">
            This is a website just for the sake of having my own site.
        </p>
    </div>
</section>
{% endblock %}