{% extends 'Base.html' %}

{% block content %}
	<div class="container">
		<section id="minititle">
			<h1>I walked a mile with pleasure, she chatted all the way
				but left me none the wise for all she had to say. 
				<br>I walked a mile with sorrow, ne'er a word said she; but oh!
				The things I learned from her, when sorrow walked with me. 
			</h1>
			<h2>- Robert Browning Hamilton</h2>
		</section>
	</div>

	<section class ="box-1">
		<div class= "container">
			
			<h1>Welcome</h1>
			<p>
				This is the start of my quote page filled with phrases, sayings, words of wisdom
				that left me thinking and reflecting. Clicking on each will give a more in depth
				view of my thought process.
			</p>
		</div>
	</section>

	<section class="container">

			   {% for post in object_list %}
				<p class="block" >
					<a class= "button" href="{% url 'Detail' post.id %}"> {{post.post_text}} </a>
					<br> <br> -{{post.pub_date }}
				</p>
		{% endfor%}


	</section>
{% endblock %}


